@charset "UTF-8";

/*
    Paleta de cores
    Verde #29a09d 
    Lilás: #5f2c82
*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw; 
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden; /*tudo que tiver fora da borda fica escondido*/

    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

    transition: width 0.3s, height 0.3s; /*transição quando troca o tamanho*/
    transition-timing-function: ease; /*faz a transição ficar mais suave*/
}

section#login > div#imagem {
    display: block;
    background: #5f2c82 url('../imagens/fundo.jpg') no-repeat;
    background-size: cover;
    background-position: center center;
    height: 200px;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}

div#formulario > h1 {
    text-align: center;
}

div#formulario > p {
    font-size: 0.8em;
}

form > div.campo {
    background-color: #5f2c82;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin: 5px 0px;    
}

div.campo > label {
    display: none;
}

form > div > i {
    color: white;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #29a09d;
    color: white;
    font-weight: bolder;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover {
    background-color: #175351 ;
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 8px;
    margin-top: 5px;
    background-color: white;
    color: #0e3533;
    border: 1px solid #29a09d;
    border-radius: 5px;
    text-decoration: none;
}

form > a.botao:hover {
    background-color: #3ac9c4;
}

form > a.botao > i {
    font-size: 0.8em;
}