@charset "UTF-8";

/*
    Paleta de cores
    Verde #29a09d 
    Lilás: #5f2c82
*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    /* background-color: #5f2c82; */
    background: url('../imagens/fundologin.jpg')  no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw; 
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden; /*tudo que tiver fora da borda fica escondido*/

    background-color: white;
    width: 250px;
    height: 550px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

    transition: width 0.3s, height 0.3s; /*transição quando troca o tamanho*/
    transition-timing-function: ease; /*faz a transição ficar mais suave*/
    transform: translate(-50%, -50%); /*todas as translate tem que ser em ultimo no codigo*/
}

section#login > div#imagem {
    display: block;
    background: #5f2c82 url('../imagens/fundlogin2.jpg') no-repeat;
    background-size: cover;
    background-position: center center;
    height: 200px;
}

section#login > div#formulario {
    display: block;
    padding: 16px;
}

div#formulario > h1 {
    text-align: center;
}

div#formulario > p {
    font-size: 0.8em;
}

form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

form > div.campo {
    background-color: whitesmoke; /* #5f2c82 */
    border: 2px solid rgba(0, 0, 0, 0.603); /* #5f2c82 */
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;    
}

div.campo > label {
    display: none;
}

div.campo > i {
    color: rgba(0, 0, 0, 0.603);
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

div.campo > input {
    /*background-color: #29a09d;*/
    background-color: rgba(245, 245, 245, 0);
    font-size: 1em;
    width: calc(100% - 49px); /*arruma o seu email dentro da caixa/ encaixe*/
    height: 100%;
    border: 0px;
    border-radius: 8px;
    padding: 5px;
    transform: translateY(-13px);
}

div.campo > input:focus-within {
    background-color:white
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: rgb(255, 255, 255);
    color: black;
    border: 1px solid #000000;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover {
    background-color: rgba(128, 128, 128, 0.63); /* #175351 */
    font-weight: bolder;
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 8px;
    margin-top: 5px;
    background-color: white;
    color: black;
    border: 1px solid #000000;   /* #29a09d */
    border-radius: 5px;
    text-decoration: none;
}

form > a.botao:hover {
    background-color: rgba(128, 128, 128, 0.63); /* #3ac9c4 */
    font-weight: bolder;
}

form > a.botao > i {
    font-size: 0.8em;
}